@media all and (min-width: 350px) and (max-width: 600px) {
  .name #navigation {
    display: none;
  }
}

@media all and (min-width: 1400px) and (max-width: 1500px) {
  .hatha {
    transform: translateX(-150px);
  }
}
@media all and (min-width: 1300px) and (max-width: 1400px) {
  .hatha {
    transform: translateX(-200px);
  }
}
@media all and (min-width: 1200px) and (max-width: 1300px) {
  .hatha {
    transform: translateX(-250px);
    gap: 50px;
  }
}
@media all and (min-width: 1100px) and (max-width: 1200px) {
  .hatha {
    transform: translateX(-300px);
    padding: 0px 400px;
    gap: 10px;
  }
  .hathaheading {
    padding-left: 200px;
  }
  .hathatxt {
    max-width: 60vw;
  }
}
@media all and (min-width: 1000px) and (max-width: 1100px) {
  .hatha {
    padding-left: 10vw;
    gap: 10px;
  }
  .hathaheading {
    padding-left: 150px;
  }
  .hathatxt {
    max-width: 50vw;
  }

  .cititxt {
    max-width: 50vw;
  }
}
@media all and (width: 800px) {
  .hatha {
    transform: translateX(280px);
  }
}

@media all and (width: 1100px) {
  .hatha {
    padding-left: 40vw;
  }
}
@media all and (min-width: 800px) and (max-width: 1000px) {
  .hatha {
    padding-left: 9vw;
    gap: 10px;
  }
  .kidtxt {
    max-width: 40vw;
  }
  .hathatxt {
    max-width: 50vw;
  }
  .hathaheading {
    padding-left: 100px;
  }
  .hathatxt {
    max-width: 50vw;
  }
  .cititxt {
    max-width: 40vw;
  }
}

@media all and (min-width: 700px) and (max-width: 800px) {
  .bg {
    width: 200px;
    height: 125px;
  }
  .kidimg {
    width: 200px;
    height: 125px;
    background-size: 200px 125px;
  }
  .hathaimg {
    width: 200px;
    height: 125px;
    background-size: 200px 125px;
  }
  .citiimg {
    width: 200px;
    height: 125px;
    background-size: 200px 125px;
  }
  .kids {
    gap: 50px;
    padding-left: 40px;
  }
  .hatha {
    gap: 10px;
  }
  .citizen {
    gap: 50px;
    padding-left: 40px;
  }
  .hathaheading {
    padding-left: 5px;
  }
  .bg1 {
    transform: translateX(-260px);
  }
  .kidtxt {
    max-width: 40vw;
  }
  .hathatxt {
    max-width: 50vw;
    transform: translateX(-290px);
  }
  .cititxt {
    max-width: 50vw;
  }
}

@media all and (min-width: 600px) and (max-width: 700px) {
  .bg {
    width: 200px;
    height: 125px;
  }
  .kidimg {
    width: 200px;
    height: 125px;
    background-size: 200px 125px;
  }
  .hathaimg {
    width: 200px;
    height: 125px;
    background-size: 200px 125px;
  }
  .citiimg {
    width: 200px;
    height: 125px;
    background-size: 200px 125px;
  }
  .kids {
    gap: 50px;
    padding-left: 40px;
  }
  .hatha {
    gap: 10px;
  }
  .citizen {
    gap: 50px;
    padding-left: 40px;
  }
  .hathaheading {
    padding-left: 5px;
  }
  .bg1 {
    transform: translateX(-300px);
  }
  .kidtxt {
    max-width: 40vw;
  }
  .hathatxt {
    max-width: 50vw;
    transform: translateX(-290px);
  }
  .cititxt {
    max-width: 50vw;
  }
}
@media all and (min-width: 600px) and (max-width: 700px) {
  .hatha {
    gap: 10px;
  }
}

/*ourservices-1*/
@media all and (max-width: 600px) {
  .bg {
    background-color: #e3cf9d;
    border: solid black 1px;
    width: 150px;
    height: 100px;
    rotate: -10deg;
  }
  .kidimg {
    background-image: url("images/os1.png");
    width: 150px;
    background-size: 150px 100px;
    background-repeat: no-repeat;
    height: 100px;
    rotate: 10deg;
  }

  .kids {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px;
    width: 100vw;
    align-items: center;
    justify-content: left;
    gap: 50px;
  }
  .kidheading {
    font-size: 45px;
    font-family: IBM Plex Sans;
    margin: 10px 0px;
  }
  .kidtxt {
    font-size: 20px;
    font-family: EB Garamond;
    width: 50vw;
  }
}
/*diet plan*/
@media all and (max-width: 1400px) and (min-width: 1300px) {
  .box2 {
    padding-right: 20px;
  }
}
@media all and (max-width: 1300px) and (min-width: 1200px) {
  .vegimgs {
    margin-right: 30px;
  }

  .box1 {
    width: 20vw;
  }
  .box2 {
    padding-left: 30px;
    padding-right: 20px;
  }
}
@media all and (max-width: 1200px) and (min-width: 1100px) {
  .dietin {
    gap: 10px;
  }

  .vegimg1 {
    width: 90px;
    height: 100px;
  }
  .vegimg2 {
    width: 100px;
    height: 100px;
  }
}

/*Mobile navigation*/

@media all and (max-width: 600px) {
  .buddha {
    object-fit: stretch;
  }
  #m-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 15px 0px 15px 10px;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 8;
  }

  #navigation {
    display: none;
  }

  .mobilenavitems {
    display: none;
  }

  .fa-bars {
    padding: 15px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 22px;
  }

  #m-nav img {
    width: 100px;
    border-radius: 50%;
  }
  #m-nav h1 {
    font-family: caveat;
  }

  .mobilenavitems {
    position: fixed;
    top: 0;
    z-index: 9;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 225px;
    text-align: center;
    transition: all 1s;
  }
  .m2 {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .home-fb-2 {
    color: black;
  }
  .home-insta-2 {
    color: black;
  }
  .home-yt-2 {
    color: black;
  }
  .home-whatsapp-2 {
    color: black;
  }
  .socialdiv-home {
    display: none;
  }

  .mobilenavitems a {
    color: white;
    width: 200px;
    padding: 15px;
    font-size: 25px;
    text-decoration: none;
  }

  .m-social {
    display: flex;
    position: absolute;
    left: -3%;
    bottom: -35%;
    padding: 0px 15px;
    width: 200px;
    gap: 10px;
  }

  .m-social a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .m-social a i {
    font-size: 18px;
  }

  .homeslidercontainer {
    display: none;
  }

  .homeslider {
    display: none;
  }

  .m-gallerydiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .mg1 {
    display: flex;
    justify-content: center;
  }

  .mg1-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 0px 15px;
  }

  .mg1-1 img {
    width: 30vw;
    border: 1px solid black;
  }

  .free-head {
    display: none;
  }

  .mg1-2 img {
    width: 50vw;
    border: 1px solid black;
  }

  .mg1-2-1 img {
    width: 25vw;
    height: 34vw;
    object-fit: cover;
    border: 1px solid black;
  }

  .mg3-1 img {
    height: 23vw;
    border: 1px solid black;
  }

  .mg3-2 img {
    height: 30.3vw;
    border: 1px solid black;
  }

  .mg2 {
    background-color: white;
    font-family: caveat;
    font-size: 28px;
    font-weight: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
    width: 80vw;
  }

  .mobile-bars {
    -webkit-text-stroke: 1.5px black;
    font-size: 20px;
    -webkit-text-fill-color: #c7bfa8;
    color: #9d937b;
    background-color: #9d937b;
    border-radius: 10px;
  }

  .m-morning {
    font-family: IBM Plex Sans;
    font-size: 17px;
    padding: 8px;
    background-color: #ccc1a3;
  }

  #m-logo {
    transition: all 0.3s;
  }

  #m-nav {
    transition: all 0.3s;
  }

  .m-evening {
    font-family: IBM Plex Sans;
    font-size: 17px;
    padding: 8px;
    background-color: #ccc1a3;
    text-align: center;
  }

  .m-offline {
    background-color: #ebe1c6;
    min-width: 80vw;
    max-width: 90vw;
  }

  .m-offline h1 {
    font-size: 25px;
    font-family: Arimo;
    background-color: #c7bfa8;
    padding-left: 20px;
  }
  .m-offline ul li {
    font-size: 17 px;
    font-family: EB Garamond;
  }
  .m-offline ul {
    padding: 10px 15px;
  }

  .m-time {
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding: 2vw 2vw;
  }

  .m-offline ul li::before {
    content: "•";
    margin-right: 7px;
  }

  .m-online ul li::before {
    content: "•";
    margin-right: 7px;
  }

  .m-online h1 {
    background-color: #c7bfa8;
    font-size: 25px;
    font-family: Arimo;
    padding-left: 20px;
  }
  .m-online ul li {
    font-size: 17px;
    font-family: EB Garamond;
  }
  .m-online ul {
    padding: 10px 15px;
  }

  .m-mode-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .m-contact-us {
    font-family: EB Garamond;
    font-size: 16px;
    background-color: white;
    min-width: 80vw;
    max-width: 90vw;
    padding: 10px 5px;
  }

  .m-online {
    min-width: 80vw;
    max-width: 90vw;
    background-color: #ebe1c6;
  }

  .m-mode-of-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .m-mode-head {
    font-size: 35px;
    font-family: IBM Plex Sans;
    float: left;
    padding: 15px 85px 15px 0px;
  }
  .m-mode-of-imgs {
    display: flex;
    flex-direction: column;
  }

  .m-mode-of-classes img {
    height: 15vw;
  }

  .modecontainer {
    display: none;
  }

  .onoff {
    display: none;
  }

  .m-diet1 {
    display: flex;
    justify-content: center;
    gap: 18px;
  }

  .m-diet1-1 {
    background-color: #c7bfa8;
    width: fit-content;
    padding: 10px 10px;
    font-family: EB Garamond;
    font-size: 16px;
  }

  .m-diet1-1 p {
    float: left;
  }

  .m-diet1-1 ul {
    margin-left: 1px;
  }

  .m-diet1-1 ul li::before {
    content: "•";
    margin-right: 12px;
  }

  .m-dietheading {
    font-size: 35px;
  }

  .m-dietheading::after {
    content: "(According to age)";
    font-size: 15px;
  }

  .m-diet1 img {
    height: 18vw;
  }

  .dietcontainer {
    display: none;
  }

  * {
    overflow-x: hidden;
  }

  .m-diet2 {
    max-width: 80vw;
    background-color: #ebe1c6;
    padding: 15px 25px;
    font-size: 17px;
    font-family: EB Garamond;
  }
  .m-diet2 ul li {
    padding-bottom: 10px;
  }

  .m-diet3 {
    max-width: 80vw;
    padding: 15px 25px;
    background-color: #cfc8b5;
    font-size: 17px;
    font-family: EB Garamond;
  }
  .m-diet3 p {
    text-align: left;
  }

  .m-dietcontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 25px;
  }

  .m-diet4 {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .disappearservice {
    display: none;
  }

  .m-bg1 {
    background-color: #e3cf9d;
    border: solid black 1px;
    width: 90px;
    height: 60px;
    overflow: visible;
    rotate: -10deg;
    margin: auto;
  }

  .m-img1 {
    background-image: url("images/os1.png");
    width: 90px;
    background-size: 90px 60px;
    background-repeat: no-repeat;
    height: 60px;
    rotate: 10deg;
  }

  .m-ourservices1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .senior-head {
    font-size: 35px;
    margin: -18px 0px;
  }

  .m-img3 {
    background-image: url("images/os3.png");
    width: 90px;
    background-size: 90px 60px;
    background-repeat: no-repeat;
    height: 60px;
    rotate: 10deg;
  }

  .m-img2 {
    background-image: url("images/os2.png");
    width: 90px;
    background-size: 90px 60px;
    background-repeat: no-repeat;
    height: 60px;
    rotate: 10deg;
  }

  .m-o-head {
    font-family: IBM Plex Sans;
    font-size: 28px;
  }
  .senior-head {
    font-family: IBM Plex Sans;
    font-size: 28px;
  }
  .m-dietheading {
    font-size: 35px;
    font-family: IBM Plex Sans;
  }
  .m-txt {
    font-family: EB Garamond;
    font-size: 17px;
    text-align: left;
  }


  .m-txt ul li::before {
    content: "•";
    margin-right: 5px;
  }


  .m-ourservices1 {
    padding: 25px;
  }

  .m-inner {
    display: flex;
    overflow: visible;
    justify-content: center;
    gap: 20px;
  }

  .gallhead {
    display: none;
  }

  .m-gallhead {
    font-family: IBM Plex Sans;
    font-size: 35px;
    position: relative;
    right: 30%;
    padding: 15px 0px;
    padding-left: 25px;
  }

  .m-diet4 img {
    height: 21vw;
  }

  .abtcont {
    display: none;
  }

  .testimonialhead {
    font-size: 30px;
  }

  .testimonialcont {
    display: none;
  }

  .testimonialslide {
    display: none;
  }

  .testimonial {
    display: none;
  }

  .m-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .m-about1 {
    display: flex;
    gap: 15px;
    padding: 15px 10px;
    justify-content: space-evenly;
  }
  .m-about1-2 h1 {
    font-size: 35px;
    font-family: IBM Plex Sans;
  }

  .m-about1-2 p {
    font-family: EB Garamond;
    font-size: 17px;
    text-align: left;
    max-width: 300px;
    background-color: #d7d2bf;
    padding: 15px 10px;
  }

  .m-about2 p {
    font-family: EB Garamond;
    font-size: 17px;
    text-align: left;
    max-width: 90vw;
    background-color: white;
    padding: 15px 10px;
  }

  .quote h1 {
    font-size: 28px;
  }
  .two {
    padding-left: 0px;
  }

  .btncontainer a {
    width: 65vw;
  }

  .m-about3 p {
    font-family: EB Garamond;
    font-size: 17px;
    text-align: left;
    max-width: 90vw;
    background-color: #d7d2be;
    padding: 15px 10px;
  }

  .m-about4 p {
    font-family: EB Garamond;
    font-size: 17px;
    text-align: left;
    max-width: 90vw;
    background-color: white;
    padding: 15px 10px;
  }

  .m-about1-1 {
    width: 120px;
    height: 120px;
    overflow: visible;
    border-radius: 50%;
    background-color: white;
  }

  .m-about1-cont {
    display: flex;
    overflow: visible;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
  .m-about1-cont p {
    font-family: IBM Plex Sans;
    font-size: 17px;
  }

  .m-about-pic {
    width: 120px;
    height: 120px;
    background-image: url("1.jpeg");
    border-radius: 50%;
    background-size: 120px 120px;
    transform: translateX(15px);
  }
}
@media all and (max-width: 600px) {
  .free-demo-class {
    overflow: visible;
  }

  .click-here {
    display: none;
  }

  .quote {
    display: none;
  }

  .m-click-here {
    display: inline-block;
    position: absolute;
    right: 6%;
    top: 53%;
    color: white;
  }

  .btncontainer {
    position: absolute;
    overflow: visible;
    gap: 20px;
    top: 53%;
    left: 5%;
  }

  .btncontainer a {
    font-size: 20px;
    padding: 5px 0px;
  }

  .m-quote {
    font-family: EB Garamond;
    font-size: 35px;
    position: absolute;
    top: 30%;
    left: 8%;
    text-align: left;
  }

  .buddha {
    display: none;
  }
  .m-buddha {
    width: 100vw;
  }
  .dietheading {
    display: none;
  }

  .m-free-demo {
    font-size: 35px;
    padding: 15px 0px;

    font-family: IBM Plex Sans;
  }
  footer h4{
   font-family: EB Garamond;
    font-size: 15px;
    text-align: center;
    padding-left: 14px;
  }
}

@media all and (min-width: 601px) {
  .m-free-demo {
    display: none;
  }

  .free-head {
    font-size: 55px;
    font-family: IBM Plex Sans;
  }

  .mobilenavitems {
    display: none;
  }

  .m-quote {
    display: none;
  }

  .m-social {
    display: none;
  }

  .m-buddha {
    display: none;
  }

  .m-gallerydiv {
    display: none;
  }

  .m-about {
    display: none;
  }

  .m-mode-of-classes {
    display: none;
  }

  .m-dietcontainer {
    display: none;
  }

  .m-ourservices1 {
    display: none;
  }

  .m-click-here {
    display: none;
  }
}
